.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: 70px;
}

.pin {
  position: fixed;
  top: 0;
  width: 100%;
  height: inherit;
  z-index: 100;
}

@media (max-width: 975px) {
  .container {
    display: inline-block;
    display: block;
    height: auto;
  }
}
