
.pama {
  height: auto;
  display: inline-block;
  padding: 30px;
  margin: 0 0 20px;
  vertical-align: top;
  width: 100%;
}

.rating-box {
  margin-top: 1em;
  border-radius: 5px;
  border: 1px solid #384E77;
  padding: 5px;
}

.current-selection {
  padding-left: 4px;
}

.half-view {
  width: 50%;
}

div.choice {
  margin-bottom: 2px;
}

.view-title {
  padding: 0 0 10px;
  margin: 0 0 10px;
  font-size: 1.5em;
  letter-spacing: -0.025em;
  color: #384E77; /* $color-primary */
  border-bottom: 2px solid #eee;
}

@media (max-width: 975px) {
  .pama {
    padding: 10px;
    display: inline-block;
    position: relative;
  }

  .half-view {
    width: 100%;
    display: inline-block;
  }
}