$blue: #4A90E2;
$red: #D0021B;
$grey: #DCE0E0;
$dark-grey: #565A5C;
$light-grey: #f3f3f3;
$white: #FFF;

$font: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$font-head: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace: Inconsolata, Menlo, Consolas, monospace !important;

.line {
  transition-property: background;
  transition-duration: .4s;
}
.fade { }

.fade-actual {
  background: white;
}


#top-bar {
    background: $dark-grey;
    color: $white;
    font-size: 2em;
    padding-left: 2em;
}

// DayPicker styles
.chevron {
    background: $light-grey;
}
.Drug-Selector-holder {
  position: relative;
  width: 100%;
  z-index: 2;
}

.drug {
    padding-right: 1em;
    cursor: pointer;
}
table.drug-choice {
    background: white;
    width: 100%;
}
table.drug-choice tr:hover{
    background: $grey;
}
.cui {
    font-family: monospace;
}
.OrderEntry {
  display: inline-block;
  width: 60%;
}

.FhirView {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-top: 2em;
  font-size: 1rem;
}

.DateBox {
  width: 20em;
  position: relative;
}
.DateText{
  width: 100%;
  text-align: center;
}
.DayPicker {
  //position: absolute;
  //left: 0em;
  //top: 2em;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //position: relative;
  padding: 1rem 0;
  user-select: none;
  background: white;
  border: 1px solid $dark-grey;
}

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem;
}

  .DayPicker-NavBar {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 .5rem;
  }

  .DayPicker-NavButton {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

    .DayPicker-NavButton--prev {
      left: 1rem;
      background-image: url("../prev.svg");
    }

    .DayPicker-NavButton--next {
      right: 1rem;
      background-image: url("../next.svg");
    }


  .DayPicker-Caption {
    display: table-caption;
    height: 3.5rem;
    text-align: center;
  }

  .DayPicker-Weekdays {
    display: table-header-group;
    > div {
      display: table-row;
    }
  }

    .DayPicker-Weekday {
      display: table-cell;
      padding: .5rem;
      font-size: .875em;
      text-align: center;
    }

  .DayPicker-Body {
    display: table-row-group;
  }

    .DayPicker-Week {
      display: table-row;
    }

      .DayPicker-Day {
        display: table-cell;
        padding: .5rem;
        border: 1px solid lighten($grey, 5);
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
      }

  .DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
  }


// Modifiers

.DayPicker-Day--today {
  color: $red;
  font-weight: 500;
}

.DayPicker-Day--disabled {
  color: $grey;
  cursor: default;
  background-color: lighten($grey, 7);
}

.DayPicker-Day--sunday {
  color: $grey;
  background-color: lighten($grey, 10);
}

.DayPicker-Day--outside {
  cursor: default;
  color: $grey;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: $white;
  background-color: $blue;
}

// Locales

.DayPicker--ar {
  direction: rtl;
}
