$blue: #4A90E2;
$red: #D0021B;
$grey: #DCE0E0;
$dark-grey: #565A5C;
$light-grey: #f3f3f3;
$light-light-grey: #f9f9f9;
$white: #FFF;
$warning: #ec971f;
$warning-text: #C57300;
$info: #31b0d5;
$success: #449d44;
$danger: #c9302c;

$font: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$font-head: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace: Inconsolata, Menlo, Consolas, monospace !important;

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.hook-editor {
    display: inline;
}
.configure-hooks {
    float: right;
    cursor: pointer;
}

.save-hook {
  float: right;
  background: $white;
  border: 1px solid $dark-grey;
  font-weight: bold;
  color: $dark-grey;
}
.save-hook:disabled {
  font-weight: normal;
}

.edit-hook{
    margin: 2em;
}

.edit-hook.new-hook .edit-hook-inner{
    border: 2px dashed $white;
}

.edit-hook-inner {
    border: 2px solid $white;
    padding: 2em;
    display: block;
    font-family: $monospace;
    font-size: 1rem;
    margin-top: .5em;
}

.decision-spacer {
  //flex-grow: 1;
  height: 2em;
}

.decision-card:hover {
  background: #f6f6f6;
}

.card-top {
    display: flex;
  flex-direction: column;
    flex-grow: 1
}

.decision-card {
  border: 2px solid $light-grey;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  padding: 1em;
  border-left-width: 3px;
  background: #fcfcfc;
}

.decision-card.alert-success{
    border-left-color: $success;
    color: $success;
}


.decision-card.alert-info{
    border-left-color: $info;
}


.alert-warning {
    color: $warning-text !important;
}
.decision-card.alert-warning{
    border-left-color: $warning;
}

.decision-card.alert-danger{
    border-left-color: $danger;
}

decision-card button{
  margin-top: .5em;
  margin-bottom: .5em;
  margin-right: .5em;
}
.decision-card .glyphicon {
  margin-right: 0.4em;
}

.decision-card img{
 max-width: 100%;
}

.card-summary {
  font-weight: bold;
  flex-grow: 1;
}
.card-source {
    font-size: .8em;
  font-style: italic;
}

.card-helpful {
font-style: normal;
}
.card-helpful button.btn{
    vertical-align: initial;
}

div.card-helpful button.btn {
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px;
}


#react-content {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
}

.form-group {
  margin: 1em;
}

input[type="checkbox"] {
    vertical-align: text-bottom;
    margin-left: .5em;
}

.selected-drug {
    //border: 1px solid $dark-grey;
    padding: 0.3em;
    //border-radius: 10px;
    //background: $light-grey;
    //display: inline-block;
    font-style: italic;
    margin-bottom: 1em;
    display: block;
    margin-top: -.6em;
}

.line {
  transition-property: background;
  transition-duration: .4s;
}
.fade { }

.fade-actual {
  background: white;
  color: #4cae4c;
  font-weight: bold;
}


#top-bar {
    font-size: 2em;
    padding-left: .4em;
    padding-bottom: 1em;
    height: 1.5em;
}
#bottom-bar {
    background: $dark-grey;
    color: $white;
    font-size: .75em;
    padding-left: 2em;
    margin-bottom: 0px;
}
#bottom-bar a {
 color: white;
 font-weight: bold;
}


// DayPicker styles
.chevron {
    background: $light-grey;
}

.timing-holder {
  margin-bottom: 1em;
}

.timing-holder input, .timing-holder select {
    max-width: 11em;
    display: inline;
}
.timing-holder input{
    max-width: 4em;
}


.sig-form {
margin-left: .5em;
}

.problem-holder {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 2em;
}

.Drug-Selector-holder {
  position: relative;
  width: 100%;
  padding-right: 1em;
  z-index: 2;
  background: $light-grey;
}

.drug {
    padding-right: 1em;
    font-size: 1.2em;
    cursor: pointer;
}
table.drug-choice {
    background: white;
    background: $light-light-grey;
    width: 100%;
}
table.drug-choice tr:hover{
    background: $grey;
}
.cui {
    font-family: monospace;
}
.OrderEntry {
  flex-grow: 5;
  flex-basis: 20em;
  display: flex;
  flex-flow: column nowrap;
}

.FhirView {
  margin: 0em;
  font-size: 1rem;
  flex-basis: 22em;
  flex-grow: 4;
  border-radius: 0px;
  border: 0px;
}

.DateBox {
  width: 20em;
  position: relative;
}

.DateText{
  text-align: center;
  width: 10em;
}
.DayPicker {
  //position: absolute;
  //left: 0em;
  //top: 2em;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //position: relative;
  padding: 1rem 0;
  user-select: none;
  background: white;
  border: 1px solid $dark-grey;
}

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem;
}

  .DayPicker-NavBar {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 .5rem;
  }

  .DayPicker-NavButton {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

    .DayPicker-NavButton--prev {
      left: 1rem;
      background-image: url("../prev.svg");
    }

    .DayPicker-NavButton--next {
      right: 1rem;
      background-image: url("../next.svg");
    }


  .DayPicker-Caption {
    display: table-caption;
    height: 3.5rem;
    text-align: center;
  }

  .DayPicker-Weekdays {
    display: table-header-group;
    > div {
      display: table-row;
    }
  }

    .DayPicker-Weekday {
      display: table-cell;
      padding: .5rem;
      font-size: .875em;
      text-align: center;
    }

  .DayPicker-Body {
    display: table-row-group;
  }

    .DayPicker-Week {
      display: table-row;
    }

      .DayPicker-Day {
        display: table-cell;
        padding: .5rem;
        border: 1px solid lighten($grey, 5);
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
      }

  .DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
  }


// Modifiers

.DayPicker-Day--today {
  color: $red;
  font-weight: 500;
}

.DayPicker-Day--disabled {
  color: $grey;
  cursor: default;
  background-color: lighten($grey, 7);
}

.DayPicker-Day--sunday {
  color: $grey;
  background-color: lighten($grey, 10);
}

.DayPicker-Day--outside {
  cursor: default;
  color: $grey;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: $white;
  background-color: $blue;
}

// Locales

.DayPicker--ar {
  direction: rtl;
}
